html, body {
	margin: 0; padding: 0;
}

body {
	font-family: Montserrat, sans-serif;
	padding-top: 230px;
}

header {
	text-align: center;
	padding: 30px;
}

header h1 {
	color: #d35400;
	margin: 0;
	margin-bottom: 12px;
	font-size: 40px;
}

header h2 {
	color: rgba(0,0,0,0.5);
	margin: 0;
}

section {
	max-width: 768px;
	margin: auto;
}

section#contact {
	text-align: center;
}

section#contact ul {
	padding: 0;
	list-style-type: none;
}

a {
	color: teal;
	text-decoration: none;
}