html, body {
	margin: 0; padding: 0;
}

body {
	font-family: Montserrat, sans-serif;
}

nav#navigation {
	padding: 10px 20px;
	text-align: right;

	position: absolute;
	top: 0;

	width: 100%;

	box-sizing: border-box;
	z-index: 2;
}

nav#navigation ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

nav#navigation ul li {
	display: inline-block;
	font-size: 16px;
	padding: 5px 8px;
	margin: 0 10px;
}

nav#navigation ul li a {
	color: #fff;
	text-decoration: none;
	transition: .2s;
}

nav#navigation ul li a:hover {
	text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.7);
	transition: .3s;
}

header {
	background-image: url('../images/background-header.jpg');
	background-size: cover;
	width: 100%;
	height: 100vh;
}

header .background-filter {
	width: 100%;
	height: 100vh;
	position: absolute;
	background-color: rgba(44, 62, 80, 0.3);
}

header .header-wrapper {
	margin: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	max-height: 150px;

	text-align: center;

	color: #fff;
	text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

header .header-wrapper h1 {
	font-size: 45px;
	margin: 20px 0;
}

header .header-wrapper p {
	font-size: 20px;
	color: rgba(255, 255, 255, 0.93)
}

#skill {
	padding: 100px 0;
}

#skill ul {
	margin: 0;
	padding: 0;
	list-style-type: none;

	text-align: center;
}

#skill ul li {
	display: inline-block;
	vertical-align:middle;

	width: 350px;

	margin: 10px;
	padding: 25px 20px;
	box-sizing: border-box;
	border-radius: 4px;
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}

#skill ul li h3 {
	font-size: 35px;
}

#skill ul li p {
	width: 100%;
	height: 120px;
}

footer {
	background-color: #2c3e50;
	color: #fff;
	height: auto;

	padding: 15px;
	text-align: center;
}

footer p {
	font-size: 15px;
	margin: 0;
}